.warning-box {
  @include radius(4px);
  @include transition;
  padding: 15px;
  display: flex;
  background-color: transparent;
  align-items: center;
  border: 2px solid darken($ease-white, 15%);
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
  .title {
    color: darken($ease-white, 25%);
    font-family: $font-face;
  }
  .text {
    color: darken($ease-white, 20%);
    font-family: $font-base;
  }
  &::before {
    content: "";
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: darken($ease-white, 17%);
    animation: loading-warning 6s linear infinite;
  }
  .svg-icon {
    @include size(20px);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 15px;
    fill: darken($ease-white, 25%);
    cursor: pointer;
  }
  &.-danger {
    border-color: $brand-danger;
    .title {
      color: darken($brand-danger, 25%);
    }
    .text {
      color: darken($brand-danger, 20%);
    }
    &::before {
      background-color: lighten($brand-danger, 10%);
    }
    .svg-icon {
      fill: darken($brand-danger, 25%);
    }
  }
  &.-success {
    border-color: $brand-success;
    .title {
      color: darken($brand-success, 25%);
    }
    .text {
      color: darken($brand-success, 20%);
    }
    &::before {
      background-color: lighten($brand-success, 10%);
    }
    .svg-icon {
      fill: darken($brand-success, 25%);
    }
  }
  &.-warning {
    border-color: $brand-warning;
    .title {
      color: darken($brand-warning, 25%);
    }
    .text {
      color: darken($brand-warning, 20%);
    }
    &::before {
      background-color: lighten($brand-warning, 10%);
    }
    .svg-icon {
      fill: darken($brand-warning, 25%);
    }
  }
  &.-info {
    border-color: $brand-info;
    .title {
      color: darken($brand-info, 25%);
    }
    .text {
      color: darken($brand-info, 20%);
    }
    &::before {
      background-color: lighten($brand-info, 10%);
    }
    .svg-icon {
      fill: darken($brand-info, 25%);
    }
  }
  &.-fading {
    opacity: 0;
    margin-bottom: 0px;
    padding: 0px;
  }
  &.-gone {
    display: none;
  }
  + .warning-box {
    margin-top: 20px;
  }
  +.main-form{
    margin-top: 40px;
  }
}
