.about-box {
  @include size(100%, auto);
  @include radius(10px);
  @include transition;
  position: relative;
  padding: 20px;
  border: 2px solid darken($secondary-color, 10%);
  background-color: $white;

  + .about-box {
    margin-top: 20px;
  }
  &:hover {
    box-shadow: 2px 2px 10px 5px darken($secondary-color, 10%);
  }
  @include media-max(md) {
    padding: 15px;
  }
}
.video-box {
  @include size(100%, 200px);
  @include radius(10px);
  @include centerFlex;
  position: relative;
  overflow: hidden;
  background-color: $black;
  border: 2px solid $primary-color;
  .video-mockup {
    @include size(100%);
    @include absolute-all;
    @include transition;
    background-color: rgba($primary-color, 0.6);
    background-size: cover;
    background-position: center;
    opacity: 1;
    z-index: 2;
    .absolute-player {
      @include size(100%);
      @include absolute-all;
      @include centerFlex;
      @include transition;
      background-color: rgba($primary-color, 0.6);
      opacity: 0;
      cursor: pointer;
      .svg-icon {
        @include size(5%);
        @include transition;
        fill: $white;
      }
    }
  }
  &:hover {
    .video-mockup {
      .absolute-player {
        opacity: 1;
        .svg-icon {
          @include size(45%);
        }
      }
    }
  }
  &.-open-video {
    .iframe {
      z-index: 2;
      position: relative;
    }
    .video-mockup {
      opacity: 0;
      z-index: 0;
    }
  }
}

.galery-card {
  @include size(100%, 200px);
  @include radius(10px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin-bottom: 5px;
  display: block;
  border: 2px solid $primary-color;
  .absolute-lent {
    @include size(100%);
    @include absolute-all;
    @include centerFlex;
    @include transition;
    background-color: rgba($primary-color, 0.6);
    opacity: 0;
    .svg-icon {
      @include size(5%);
      @include transition;
      fill: $white;
    }
  }
  &:hover {
    box-shadow: 2px 2px 10px 5px darken($secondary-color, 10%);
    border-color: $primary-color-darken;
    .absolute-lent {
      opacity: 1;
      .svg-icon {
        @include size(40%);
      }
    }
  }
}

.carousel-gallery {
  margin-top: 20px;
  @include size(100%, auto);
  display: flex;
  position: relative;
  .owl-item {
    padding: 10px;
  }
}
