.blog-section {
  @include size(100%, auto);
  padding: 40px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  .blog-card {
    @include size(32%, auto);
    @include radius(10px);
    @include transition;
    overflow: hidden;
    border: 1px solid $secondary-color-darken;
    margin-bottom: 40px;
    position: relative;
    .image-content {
      @include size(100%, 140px);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      overflow: hidden;
      background-color: rgba($secondary-color-darken, 0.4);
      margin-bottom: 5px;
      display: block;
    }
    .blog-descript {
      padding: 10px;
      .title {
        height: 60px;
        overflow: hidden;
      }
      .descript {
        padding-top: 5px;
        height: 100px;
        overflow: hidden;
      }
    }
    &:before,
    &:after {
      content: "";
      @include size(0%, 3px);
      @include centerX;
      @include transition;
      bottom: 0;
    }
    &::after {
      background-color: darken($secondary-color-darken, 5%);
    }
    &::before {
      background-color: $primary-color;
      transition-delay: 0.2s;
      z-index: 1;
    }
    &:hover {
      box-shadow: 2px 2px 10px 5px darken($secondary-color, 10%);
      &:before,
      &:after {
        width: 100%;
      }
    }
  }
  @include media-max(lg) {
    .blog-card {
      margin-bottom: 20px;
      @include media-max(md) {
        width: 48% !important;
      }
    }
  }
  @include media-max(md) {
    padding: 20px 0;
  }
}

.blog-carousel {
  position: relative;
  .blog-section {
    padding: 0 10px;
    .blog-card {
      width: 100% !important;
    }
  }
}
