body {
  @include customscrollbar;
  background-color: $body-bg;
  &.-overlayed {
    height: 100%;
    overflow: hidden;
  }
  &.-mobile-overlayed {
    @include media-max(md) {
      height: 100%;
      overflow: hidden;
    }
  }
  a,
  button {
    outline: none !important;
  }
}

.gray-bg {
  background-color: $ease-white;
  padding: 40px 0px;
}
