.pagination-container {
  @include size(100%, auto);
  @include centerFlex;
  .pagination-list {
    @include size(auto);
    @include centerFlex;
    padding: 20px;
    position: relative;
    .nav-item {
      @include size(40px);
      @include centerFlex;
      @include transition;
      background-color: rgba($primary-color-lighten, 0.9);
      margin: 0 5px;
      position: relative;
      overflow: hidden;
      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      &::before,
      &::after {
        content: "";
        @include size(100%, 3px);
        @include centerX;
        @include transition;
        bottom: 0;
      }
      &::before {
        background-color: darken($secondary-color-darken, 10%);
        z-index: 1;
      }
      &::after {
        background-color: $primary-color-darken;
      }
      .text {
        color: $white;
        font-size: 18px;
        font-family: $font-face;
        position: relative;
        z-index: 3;
      }
      .svg-icon {
        @include size(24px);
        fill: $white;
        position: relative;
        z-index: 3;
      }
      &:hover {
        box-shadow: 2px 2px 8px 2px darken($secondary-color, 15%);
        &::before {
          height: 100%;
        }
      }
      &:active,
      &.-active {
        box-shadow: 2px 2px 8px 2px darken($secondary-color, 13%);
        &:hover {
          box-shadow: 2px 2px 8px 2px darken($secondary-color, 15%);
        }
        &::after {
          height: 100%;
          z-index: 1;
        }
        &::before {
          z-index: 2;
        }
      }
    }
  }
}
