.search-box {
  @include size(100%, 50px);
  @include centerFlex-y;
  position: relative;
  margin-bottom: 20px;
  .search-input {
    @include size(100%, 50px);
    @include absolute-all;
    padding: 20px 40px 20px 20px;
    border: none;
    background-color: transparent;
    outline: none;
    &:focus {
      + .label-search {
        box-shadow: 2px 3px 10px 5px darken($secondary-color, 10%);
      }
    }
  }
  .label-search {
    @include size(100%, 50px);
    @include radius(10px);
    @include transition;
    background-color: $white;
    border: 2px solid darken($secondary-color, 10%);
    .search-button {
      @include size(50px);
      @include centerY;
      @include centerFlex;
      @include transition;
      right: 0;
      .svg-icon {
        @include transition;
        @include size(30px);
        fill: $black-70;
      }
      &:hover {
        .svg-icon {
          fill: $primary-color;
        }
      }
    }
  }
}
