.burguer-menu {
  @include size(40px);
  @include transition;
  position: absolute;
  top: 0px;
  bottom: 0;
  margin: auto;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  z-index: 1000;
  border: none;
  background-color: transparent;
  .hamburguer {
    @include size(45px, 3px);
    @include radius(40px);
    @include transition;
    display: block;
    background: $primary-color;
    position: relative;
    &::before,
    &::after {
      @include transition(0.2s);
      content: "";
      @include size(100%, 100%);
      @include radius(40px);
      background: $primary-color;
      display: block;
      position: absolute;
    }
    &::before {
      top: -5px;
    }
    &::after {
      bottom: -5px;
    }
  }
  &.-active {
    .hamburguer {
      transform: rotate(45deg);
      background-color: $brand-danger;
      &::before,
      &::after {
        transform: rotate(90deg);
        background-color: $brand-danger;
      }
      &::before {
        top: 0px;
        opacity: 0;
      }
      &::after {
        bottom: 0px;
      }
    }
  }

  @include media-min(md) {
    display: none;
  }
}
