.header-nav {
  @include transition;
  .navbar {
    @include transition;
    transition-delay: 0.2s;
    display: flex;
    align-items: center;
    .nav-header {
      display: none;
      padding: 20px 0;
      padding-left: 20px;
      border-bottom: 2px solid $primary-color;
    }
    .list-item {
      @include radius;
      @include transition;
      padding: 8px 10px;
      font-size: 20px;
      color: $primary-color;
      font-family: $font-face;
      font-style: italic;
      &:hover,
      &.-active,
      &:active {
        background-color: $primary-color;
        color: $white;
        &:hover {
          background-color: $primary-color-lighten;
        }
      }
      + .list-item {
        margin-left: 10px;
      }
    }
  }
  @include media-max(md) {
    @include overlay;
    .navbar {
      @include size(75%, 100%);
      @include centerY;
      right: 0;
      background-color: $white;
      display: block;
      .nav-header {
        display: flex;
      }
      .list-item {
        @include size(100%, auto);
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        font-size: 20px;
        text-transform: uppercase;
        + .list-item {
          margin-left: 0px;
        }
      }
    }
    &:not(.-show) {
      opacity: 0;
      top: 100%;
      z-index: -1;
      .navbar {
        right: -100%;
        .nav-header {
          .main-logo {
            opacity: 0;
          }
        }
      }
    }
  }
}
