.blog-content {
  @include size(100%, auto);
  display: flex;
  .blog-body {
    @include size(100%, auto);
    .bg-blog {
      @include size(100%, auto);
      @include radius(10px);
      overflow: hidden;
      background-color: $white;
    }
    .blog-header {
      padding: 20px;
      .news-headline {
        @include centerFlex-y;
        position: relative;
        .svg-icon {
          @include centerY;
          @include size(28px);
          left: 0px;
          fill: $primary-color-lighten;
          + .text {
            margin-left: 40px;
          }
        }
        .text {
          color: $black-70;
        }
      }
      .main-image {
        @include size(100%, 400px);
        @include centerBG;
        @include radius(20px);
        @include transition;
        position: relative;
        margin-top: 20px;
        background-color: rgba($black-90, 0.6);
        border: 2px solid darken($secondary-color, 10%);
        cursor: pointer;
        .blog-img {
          @include size(100%);
          @include absolute-all;
        }
        &:hover {
          box-shadow: 2px 2px 10px 5px darken($secondary-color, 10%);
        }
      }
    }
    .blog-descript {
      padding: 0 20px 20px;
      .news-gallery {
        @include size(100%, auto);
        @include centerFlex-y;
        margin: 20px 0 0;
        justify-content: space-between;
        flex-wrap: wrap;
        .gallery-card {
          @include size(48%, 150px);
          @include radius;
          @include transition;
          @include centerBG;
          margin-bottom: 20px;
          background-color: rgba($black-90, 0.6);
          cursor: pointer;
          &:hover {
            box-shadow: 2px 2px 10px 5px darken($secondary-color, 15%);
          }
        }
      }
      .font {
        font-style: italic;
      }
      .text-link {
        @include transition;
        font-size: 16px;
        font-weight: 600;
        color: $primary-color-lighten;
        &:hover {
          color: darken($primary-color-lighten, 10%);
          text-shadow: 1px 1px 2px darken($secondary-color, 15%);
        }
      }
    }
  }
  .blog-aside {
    @include size(60%, auto);
    margin-left: 40px;
    .related-subject {
      @include size(100%, 60px);
      @include radius(10px);
      @include centerFlex-y;
      @include transition;
      background-color: $white;
      padding: 0px 30px 0px 20px;
      position: relative;
      cursor: pointer;
      user-select: none;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 20px;
      }
      .text {
        @include transition;
        color: $black-70;
      }
      .svg-icon {
        @include size(24px);
        @include centerY;
        @include transition;
        right: 25px;
        fill: $black-70;
      }
      &:hover {
        background-color: lighten($primary-color-lighten, 30%);
        box-shadow: 2px 2px 10px 5px darken($secondary-color, 15%);
        z-index: 3;
        .svg-icon {
          right: 20px;
        }
      }
      &:active,
      &.-active {
        background-color: $primary-color-lighten;
        box-shadow: 2px 2px 10px 5px darken($secondary-color, 10%);
        z-index: 2;
        .svg-icon {
          fill: $white;
        }
        .text {
          color: $white;
        }
        &:hover {
          background-color: lighten($primary-color-lighten, 25%);
          box-shadow: 2px 2px 10px 5px darken($secondary-color, 15%);
          .svg-icon {
            right: 20px;
            fill: $black-70;
          }
          .text {
            color: $black-70;
          }
        }
      }
    }
    .blog-section {
      padding-bottom: 0px;
      .blog-card {
        width: 100% !important;
      }
    }
  }
  @include media-max(md) {
    display: block;
    .blog-aside {
      @include size(100%, auto);
      margin-top: 40px;
      margin-left: 0;
    }
  }
}

.publisher-header {
  @include size(100%, auto);
  margin-top: 20px;
  display: flex;
  align-items: center;
  .publish-avatar {
    @include size(40px);
    + .publish-descript {
      margin-left: 10px;
    }
  }
  .publish-descript {
    .text {
      font-style: italic;
    }
    .title {
      color: $black-70;
    }
  }
}
