.banner-content {
  @include size(100%, auto);
  padding-top: 35%;
  background-size: cover;
  position: relative;
  .absolute-lens {
    @include size(100%);
    @include absolute-all;
    background-color: rgba($primary-color, 0.2);
    padding: 40px;
    // textos centralizados
    &.-center-top {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      .impact-text {
        .text {
          text-align: center;
        }
      }
    }
    &.-center {
      display: flex;
      align-items: center;
      justify-content: center;
      .impact-text {
        .text {
          text-align: center;
        }
      }
    }
    &.-center-bottom {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      .impact-text {
        .text {
          text-align: center;
        }
      }
    }
    // textos a esquerda
    &.-left-top {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      .impact-text {
        .text {
          text-align: left;
        }
      }
    }
    &.-left-center {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .impact-text {
        .text {
          text-align: left;
        }
      }
    }
    &.-left-bottom {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      .impact-text {
        .text {
          text-align: left;
        }
      }
    }
    // textos a direita
    &.-right-top {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      .impact-text {
        .text {
          text-align: right;
        }
      }
    }
    &.-right-center {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .impact-text {
        .text {
          text-align: right;
        }
      }
    }
    &.-right-bottom {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      .impact-text {
        .text {
          text-align: right;
        }
      }
    }
    .impact-text {
      @include size(72%, auto);
      padding: 20px;
      background-color: darken(rgba($primary-color-darken, 0.5), 10%);
      .text {
        font-size: 46px;
      }
    }
  }
  @include media-max(lg) {
    @include size(100%, 50vh);
    .absolute-lens {
      padding: 30px;
      .impact-text {
        @include size(90%, auto);
        padding: 15px;
        background-color: darken(rgba($primary-color-darken, 0.5), 10%);
        .text {
          font-size: 28px;
        }
      }
    }
    @include media-max(sm) {
      @include size(100%, 50vh);
      .absolute-lens {
        padding: 20px;
        .impact-text {
          @include size(90%, auto);
          padding: 15px;
          background-color: darken(rgba($primary-color-darken, 0.5), 10%);
          .text {
            font-size: 22px;
          }
        }
      }
    }
  }
}

.lesser-banner {
  @include size(100%, 400px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(lighten($primary-color, 6%), 0.5);
  position: relative;
  animation: daynight 10s linear infinite;
}

.teste-banner{
  @include size(100%, 1080px);
  background-size: cover;
  background-position:top, center;
  background-repeat: no-repeat;
}
