.carousel-arrow {
  @include centerY;
  @include size(60px);
  @include transition;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  &.-left {
    left: -50px;
  }
  &.-right {
    right: -50px;
  }
  .svg-icon {
    @include size(40px);
    @include transition;
    fill: $primary-color;
  }
  &:hover {
    .svg-icon {
      @include size(60px);
      fill: darken($secondary-color-darken, 10%);
      &.-left {
        left: -70px;
      }
      &.-right {
        right: -70px;
      }
    }
  }
  &:active {
    .svg-icon {
      fill: $primary-color-darken;
    }
  }
}

