._text-truncate {
  @include text-truncate;
}

._text-right {
  text-align: right;
}

._text-center {
  text-align: center;
}

._text-left {
  text-align: left;
}

._upper {
  text-transform: uppercase;
}

._d-block {
  display: block;
}

._w-100 {
  width: 100%;
}

.-hide {
  opacity: 0;
  z-index: -1;
}

.-none {
  display: none;
}

.fancy-open {
  cursor: pointer !important;
}
