.products-section {
  @include size(100%, auto);
  padding: 40px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  .product-card {
    @include size(23%, auto);
    @include radius(10px);
    @include transition;
    overflow: hidden;
    border: 1px solid $secondary-color;
    margin-bottom: 40px;
    .image-content {
      @include size(100%, 180px);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      overflow: hidden;
      background-color: rgba($secondary-color-darken, 0.4);
      position: relative;
      cursor: pointer;
      margin-bottom: 5px;
      display: block;
      .absolute-lent {
        @include size(100%);
        @include absolute-all;
        @include centerFlex;
        @include transition;
        background-color: rgba($primary-color, 0.6);
        opacity: 0;
        .svg-icon {
          @include size(5%);
          @include transition;
          fill: $white;
        }
      }
      &::before,
      &::after {
        content: "";
        @include size(0%, 3px);
        @include transition;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      &:before {
        transition-delay: 0.2s;
        z-index: 1;
        background-color: $secondary-color-darken;
      }
      &:after {
        background-color: $primary-color-darken;
      }
      &:hover {
        &::before,
        &::after {
          width: 100%;
        }
        .absolute-lent {
          opacity: 1;
          .svg-icon {
            @include size(40%);
          }
        }
      }
    }
    .product-descript {
      padding: 10px;
      .title {
        height: 60px;
        overflow: hidden;
      }
      .descript {
        padding-top: 5px;
        height: 100px;
        overflow: hidden;
      }
    }
    .produck-link {
      @include transition;
      border-top: 1px solid $secondary-color;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      .text {
        @include transition;
        color: $primary-color;
        z-index: 1;
      }
      .svg-icon {
        @include size(24px);
        @include transition;
        fill: $primary-color;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 10px;
        z-index: 2;
      }
      &::before,
      &::after {
        content: "";
        @include size(0%, 100%);
        @include transition;
        position: absolute;
        left: 0;
      }
      &:before {
        transition-delay: 0.2s;
        z-index: 1;
        background-color: $primary-color-darken;
      }
      &:after {
        background-color: lighten($primary-color-lighten, 10%);
      }
      &:hover {
        &::before,
        &::after {
          width: 100%;
        }
        .text {
          color: $white;
        }
        .svg-icon {
          fill: $white;
          right: 5px;
        }
      }
    }
    &:hover {
      box-shadow: 2px 2px 10px 5px $secondary-color;
    }
  }
  @include media-max(lg) {
    .product-card {
      width: 32%;
      margin-bottom: 20px;
      @include media-max(md) {
        width: 48% !important;
      }
    }
    @include media-max(sm) {
      .product-card {
        .produck-link {
          .svg-icon {
            display: none;
          }
        }
      }
    }
  }
  @include media-max(md) {
    padding: 20px 0;
  }
}

.product-carousel {
  position: relative;
  .products-section {
    padding:0 10px;
    .product-card {
      width: 100%  !important;;
      
    }
  }
}
