.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px;
  position: relative;
  &:before,
  &:after {
    content: "";
    @include absolute-all;
  }
  &:before {
    @include size(60%, 3px);
    background-color: $secondary-color-darken;
    z-index: 1;
  }
  &::after {
    @include size(100%, 3px);
    background-color: $primary-color-darken;
  }
  .title {
    padding: 10px 20px;
    background-color: $white;
    position: relative;
    z-index: 1;
  }
  @include media-max(md) {
    margin-top: 20px;
  }
  &.-gray {
    margin-top: 0;
    .title {
      background-color: $ease-white;
    }
  }
}

.section-button {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  position: relative;
  &:before,
  &:after {
    content: "";
    @include absolute-all;
  }
  &:before {
    @include size(60%, 3px);
    background-color: $primary-color-darken;
    z-index: 1;
  }
  &::after {
    @include size(100%, 3px);
    background-color: $secondary-color-darken;
  }
  .section-link {
    @include radius(15px);
    @include transition;
    padding: 10px;
    background-color: $primary-color;
    position: relative;
    z-index: 1;
    border-left: 10px solid $white;
    border-right: 10px solid $white;
    .text {
      @include transition;
      color: $white;
    }
    &:hover {
      background-color: $primary-color-darken;
    }
    &:active {
      background-color: $primary-color-lighten;
    }
  }
  &.-gray {
    margin-bottom: 0;
    .section-link {
      border-color: $ease-white;
    }
  }
  @include media-max(md) {
    margin-bottom: 20px;
  }
}
