// .main-button {
//   @include font($typo-button-font, $typo-button-font-size, $typo-button-font-size-resp, $typo-button-font-weight);
//   @include radius;
//   @include transition;
//   display: flex;
//   vertical-align: middle;
//   height: $button-base-height;
//   line-height: $button-base-height;
//   padding-right: $button-base-pad-x;
//   padding-left: $button-base-pad-x;
//   background-color: $button-base-bg;
//   color: $button-base-color;
//   white-space: nowrap;
//   user-select: none;
//   outline: none;
//   border: 0;

//   &.-outline {
//     border: $border-width solid $button-base-out-b-color;
//     background-color: $button-base-out-bg;
//     color: $button-base-out-color;
//     line-height: ($button-base-height - ($border-width * 2));
//   }

//   &.-block {
//     display: block;
//     text-align: center;
//   }

//   @include media-min(md) {
//     &:hover {
//       background-color: $button-base-bg-hover;
//     }

//     &.-outline:hover {
//       background-color: $button-base-out-b-color;
//       color: white;
//     }
//   }

//   @include media-max(md) {
//     &:active {
//       background-color: $button-base-bg-hover;
//     }

//     &.-outline:active {
//       background-color: $button-base-out-b-color;
//       color: white;
//     }
//   }
// }
