.footer {
  padding-top: 40px;
}

.social-media {
  margin-top: 20px;
  .social-link {
    @include transition;
    display: flex;
    align-items: center;
    padding: 5px 0px;
    .text {
      @include transition;
      font-family: $font-face;
      color: darken($secondary-color-darken, 35%);
    }
    .svg-icon {
      @include transition;
      @include size(24px);
      fill: darken($secondary-color-darken, 35%);
      margin-right: 10px;
    }
    &:hover {
      .svg-icon {
        fill: $primary-color;
      }
      .text {
        color: $primary-color;
      }
    }
    @include media-max(xl) {
      .typo-title {
        font-size: 12px;
      }
    }
  }
  @include media-max(md) {
    margin-top: 20px;
  }
}

.mapa {
  @include size(100%, auto);
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-footer {
  background-color: $primary-color-lighten;
  padding: 40px 0 0px;
  .social-media {
    margin-top: 0px;
    .social-link {
      + .social-link {
        margin-top: 20px;
      }
      .text {
        color: $white;
      }
      .svg-icon {
        fill: $white;
      }
      &:hover {
        .svg-icon {
          @include size(28px);
        }
        .text {
          padding-left: 5px;
        }
      }
    }
  }
  .mapa {
    margin-top: 40px;
  }
}

section {
  &:not(.gray-bg) + .small-footer {
    margin-top: 40px;
  }
}
