.category-section {
  @include size(55%, auto);
  padding-right: 40px;
  @include media-max(lg) {
    padding: 10px;
  }
  .category-box {
    @include size(100%, auto);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .accordion-categoria {
      @include size(28%, auto);
      @include radius(10px);
      @include transition;
      max-height: 1000px;
      overflow: hidden;
      display: block;
      margin: 10px;
      border: 1px solid $secondary-color-darken;
      border-top: none;
      &:not(.-open) {
        max-height: 50px;
      }
      .category-header {
        @include size(100%, 50px);
        @include radius(10px);
        @include transition;
        @include centerFlex;
        background-color: $secondary-color-darken;
        cursor: pointer;
        user-select: none;
        .text {
          @include transition;
          max-width: 75%;
          color: $black-70;
        }
        &:hover {
          background-color: $primary-color-lighten;
          .text {
            color: $white;
          }
        }
        &:active {
          background-color: $primary-color-darken;
          .text {
            color: $white;
          }
        }
      }
      .sub-category-container {
        @include size(100%, auto);
        @include transition;
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .sub-category-card {
          @include size(27%, 40px);
          @include radius(5px);
          @include centerFlex;
          @include transition;
          cursor: pointer;
          user-select: none;
          background-color: $secondary-color;
          margin: 0 10px 20px;
          box-shadow: 2px 2px 10px 5px darken($secondary-color, 5%);
          .text {
            @include transition;
            color: $black-70;
          }
          &:hover {
            background-color: $primary-color-lighten;
            box-shadow: 2px 2px 10px 5px darken($secondary-color, 8%);
            .text {
              color: $white;
            }
          }
          &:active,
          &.-active {
            background-color: lighten($primary-color, 5%);
            box-shadow: 2px 2px 10px 5px transparent;
            .text {
              color: $white;
            }
            &:hover {
              background-color: $primary-color-lighten;
            }
          }
        }
      }
      &.-opening {
        width: 100%;
        box-shadow: 2px 2px 10px 5px $secondary-color-darken;
        .category-header {
          background-color: $primary-color-darken;
          .text {
            color: $white;
          }
          &:hover {
            background-color: $primary-color-lighten;
          }
        }
      }
      &:hover {
        box-shadow: 2px 2px 10px 5px darken($secondary-color, 3%);
      }
      @include media-max(sm) {
        width: 45%;
      }
    }
  }
}

.main-product-section {
  margin-bottom: 40px;
  .products-section {
    .product-card {
      width: 47%;
    }
  }
}

.product-box {
  display: flex;
  @include media-max(lg) {
    display: block;
  }
}

// Caixas de categoria Simples
.common-category-box {
  @include size(100%, auto);
  .category-content {
    @include size(100%, auto);
    @include radius(10px);
    @include transition;
    padding: 0 0 20px;
    border: 1px solid $secondary-color-darken;
    border-top: none;
    border-right: none;
    overflow: hidden;
    max-height: 5000px;
    .common-category-header {
      @include size(100%, 50px);
      @include centerFlex-y;
      @include radius(10px);
      @include transition;
      overflow: hidden;
      padding: 10px;
      border: 1px solid $secondary-color-darken;
      border-bottom-color: $primary-color;
      border-left: none;
      position: relative;

      .text {
        color: $black-70;
      }
      .svg-icon {
        @include size(24px);
        @include centerY;
        @include transition;
        right: 10px;
        fill: $black-70;
      }
    }
    .subcategory-item {
      @include size(auto, 40px);
      @include centerFlex-y;
      @include radius(10px);
      @include transition;
      margin: 20px;
      padding: 10px;
      background-color: darken($secondary-color, 5%);
      box-shadow: 2px 2px 8px 2px darken($secondary-color, 5%);
      cursor: pointer;
      .text {
        @include transition;
        color: $black-70;
      }
      &:hover {
        box-shadow: 2px 4px 10px 4px darken($secondary-color, 10%);
      }
      &:active,
      &.-active {
        box-shadow: 2px 4px 10px 4px transparent;
        background-color: $primary-color-lighten;
        .text {
          color: $white;
        }
      }
    }
    &:hover {
      border-color: $primary-color-darken;
      .common-category-header {
        background-color: $primary-color-darken;
        .text {
          color: $white;
        }
        .svg-icon {
          fill: $white;
        }
      }
    }
    + .category-content {
      margin-top: 40px;
    }
    &.-closed {
      max-height: 51px;
      .common-category-header {
        .svg-icon {
          transform: rotate(180deg);
        }
      }
    }
  }
}

// Carousel de categorias
.carousel-category-box {
  position: relative;
  margin-bottom: 20px;
  .category-item {
    @include size(auto, 50px);
    @include radius(5px);
    @include centerFlex;
    @include transition;
    cursor: pointer;
    user-select: none;
    background-color: $secondary-color;
    box-shadow: 2px 2px 6px 3px darken($secondary-color, 5%);
    margin: 10px;
    .text {
      @include transition;
      color: $black-70;
    }
    &:hover {
      background-color: $primary-color-lighten;
      box-shadow: 2px 2px 10px 5px darken($secondary-color, 8%);
      .text {
        color: $white;
      }
    }
    &:active,
    &.-active {
      background-color: lighten($primary-color, 5%);
      box-shadow: 2px 2px 10px 5px transparent;
      .text {
        color: $white;
      }
      &:hover {
        background-color: $primary-color-lighten;
      }
    }
  }
}
