.produto-header-descript {
  @include size(100%, 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  position: relative;
  + .produto-header-descript {
    padding: 20px 10px;
  }
  &:before,
  &:after {
    content: "";
    @include absolute-all;
  }
  &:before {
    @include size(60%, 3px);
    background-color: $secondary-color-darken;
    z-index: 1;
  }
  &::after {
    @include size(100%, 3px);
    background-color: darken($secondary-color-darken, 10%);
  }
  .title {
    padding: 10px 20px;
    background-color: $white;
    position: relative;
    z-index: 1;
  }
  @include media-max(md) {
    margin-top: 20px;
  }
  &.-gray {
    margin-top: 0;
    .title {
      background-color: $ease-white;
    }
  }
  &.-sub {
    &:before {
      @include size(60%, 3px);
    }
    &::after {
      @include size(100%, 3px);
    }
  }
}

.session-detalhe-produto {
  .mockup-section {
    @include size(100%, 380px);
    margin-bottom: 20px;
    display: flex;
    .current-selected {
      @include size(70%, 340px);
      @include radius(10px);
      @include transition;
      @include centerBG;
      margin: 20px 0;
      overflow: hidden;
      display: flex;
      position: relative;
      background-color: rgba($black-70, 0.6);
      .current-pic {
        @include size(100%);
        @include absolute-all;
        @include centerFlex;
        @include transition;
        cursor: zoom-in;
        background-color: rgba($primary-color-darken, 0.3);
        opacity: 0;
        .svg-icon {
          @include size(1%);
          @include transition;
          fill: $white;
        }
      }
      &:hover {
        box-shadow: 2px 2px 10px 5px darken($secondary-color-darken, 5%);
        .current-pic {
          opacity: 1;
          .svg-icon {
            @include size(40%);
          }
        }
      }
    }
    .extra-imgs {
      @include size(100%, 340px);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-left: 40px;
      .card-extra-pic {
        @include size(47%, 150px);
        @include centerBG;
        @include transition;
        @include radius(10px);
        background-color: rgba($black-70, 0.6);
        cursor: pointer;
        margin: 20px 0;
        &:hover {
          box-shadow: 2px 2px 10px 5px darken($secondary-color-darken, 8%);
        }
      }
    }
    @include media-max(md) {
      @include size(100%, 280px);
      .current-selected {
        @include size(80%, 240px);
      }
      .extra-imgs {
        @include size(100%, 240px);
        margin-left: 20px;
        .card-extra-pic {
          @include size(47%, 110px);
          margin: 20px 0 0;
        }
      }
    }
  }
}
