.about-box {
  overflow: hidden;
  .bord {
    position: absolute;
    overflow: hidden;
    &::before,
    &::after {
      content: "";
      @include transition;
      @include size(0%);
    }
    &::before {
      background-color: $primary-color;
      transition-delay: 0.2s;
      z-index: 1;
    }
    &::after {
      background-color: darken($secondary-color-darken, 10%);
    }
    &.-left {
      @include size(3px, 100%);
      @include centerY;
      left: 0;
      &::before,
      &::after {
        content: "";
        @include size(100%, 0%);
        @include centerX;
        bottom: 0;
      }
    }
    &.-right {
      @include size(3px, 100%);
      @include centerY;
      right: 0;
      transition-delay: 0.4s;
      &::before,
      &::after {
        content: "";
        @include size(100%, 0%);
        @include centerX;
        top: 0;
      }
    }
    &.-top {
      @include size(100%, 3px);
      @include centerX;
      top: 0;
      transition-delay: 0.2s;
      &::before,
      &::after {
        content: "";
        @include size(100%, 0%);
        @include centerY;
        left: 0;
      }
    }
    &.-bot {
      @include size(100%, 3px);
      @include centerX;
      bottom: 0;
      transition-delay: 0.6s;
      &::before,
      &::after {
        content: "";
        @include size(100%, 0%);
        @include centerY;
        right: 0;
      }
    }
  }
  &:hover {
    .bord {
      &::before,
      &::after {
        @include size(100%);
      }
    }
  }
}
