@keyframes loading-warning {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

@keyframes daynight {
  0% {
    background-color: rgba(lighten($primary-color, 8%), 0.5);
  }
  35% {
    background-color: rgba(darken(#261a3d, 6%), 0.6);
  }

  65% {
    background-color: rgba(darken(#001a26, 15%), 0.8);
  }

  75% {
    background-color: rgba(darken(#053752, 10%), 0.5);
  }
  100% {
    background-color: rgba(lighten($primary-color, 8%), 0.5);
  }
}
