.header {
  &.-fixed {
    @include media-min(md) {
      background-color: rgba($secondary-color, 0.8);
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      .header-bar {
        padding: 15px 30px;
        width: 100%;
        .main-logo {
          @include size(150px, auto);
          @include transition;
        }
        .header-nav {
          .navbar {
            .list-item {
              font-size: 16px;
              padding: 5px 10px;
            }
          }
        }
      }
      &:hover {
        background-color: rgba($secondary-color, 1);
        .header-bar {
          padding: 20px 5%;
          .main-logo {
            @include size(200px, auto);
          }
          .header-nav {
            .navbar {
              .list-item {
                font-size: 20px;
                padding: 8px 10px;
              }
            }
          }
        }
      }
    }
  }
}
