.share-buttons {
  @include size(100%, auto);
  @include centerFlex-y;
  margin-top: 20px;
  .fb-share {
    @include size(auto, 30px);
    @include radius;
    @include centerFlex-y;
    @include transition;
    padding: 0 10px;
    background-color: $primary-color;
    .svg-icon {
      @include size(20px);
      fill: $white;
      + .text {
        margin-left: 10px;
      }
    }
    .text {
      color: $white;
    }
    &:hover {
      box-shadow: 2px 2px 10px 5px darken($secondary-color, 10%);
    }
    &:active {
      box-shadow: transparent;
    }
  }
}
