.header {
  @include size(100%, auto);
  @include transition(0.5s);
  background-color: rgba($secondary-color, 1);
  position: fixed;
  top: 0;
  z-index: 9;
  .header-bar {
    @include content-all;
    @include transition;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    .main-logo {
      @include size(200px, auto);
      @include transition;
      @include media-min(md){
        &.-hide{
          opacity: 1;
          z-index: 1;
        }
      }
    }
  }
  @include media-max(xl) {
    .header-bar {
      padding: 20px 20px;
    }
    @include media-max(md) {
      .header-bar {
        padding: 15px 15px;
        .main-logo {
          @include size(150px, auto);
        }
      }
    }
  }
}
