/* Product Sans Regular */
@font-face {
  font-family: 'Product-Sans';
  src: url('ProductSans-Regular.ttf') format('woff2'), url('Product-Sans-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Product-Sans';
  src: url('ProductSans-Italic.ttf') format('woff2'), url('Product-Sans-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: italic;
}

/* Product Sans Thin */
@font-face {
  font-family: 'Product-Sans';
  src: url('ProductSans-Thin.ttf') format('woff2'), url('Product-Sans-Bold.ttf') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Product-Sans';
  src: url('ProductSans-ThinItalic.ttf') format('woff2'), url('Product-Sans-Bold.ttf') format('woff');
  font-weight: 100;
  font-style: italic;
}

/* Product Sans light */
@font-face {
  font-family: 'Product-Sans';
  src: url('ProductSans-Light.ttf') format('woff2'), url('Product-Sans-Bold.ttf') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Product-Sans';
  src: url('ProductSans-LightItalic.ttf') format('woff2'), url('Product-Sans-Bold.ttf') format('woff');
  font-weight: 300;
  font-style: italic;
}


/* Product Sans Medium */
@font-face {
  font-family: 'Product-Sans';
  src: url('ProductSans-Medium.ttf') format('woff2'), url('Product-Sans-Italic.ttf') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Product-Sans';
  src: url('ProductSans-MediumItalic.ttf') format('woff2'), url('Product-Sans-Italic.ttf') format('woff');
  font-weight: 600;
  font-style: italic;
}

/* Product Sans Bold */
@font-face {
  font-family: 'Product-Sans';
  src: url('ProductSans-Bold.ttf') format('woff2'), url('Product-Sans-Italic.ttf') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Product-Sans';
  src: url('ProductSans-BoldItalic.ttf') format('woff2'), url('Product-Sans-Italic.ttf') format('woff');
  font-weight: 700;
  font-style: italic;
}

/* Product Sans Black */
@font-face {
  font-family: 'Product-Sans';
  src: url('ProductSans-Black.ttf') format('woff2'), url('Product-Sans-Italic.ttf') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Product-Sans';
  src: url('ProductSans-BlackItalic.ttf') format('woff2'), url('Product-Sans-Italic.ttf') format('woff');
  font-weight: 900;
  font-style: italic;
}